  /* Set text allignment and colour */
  h1{
    text-align: center;
    color: #0f0f0f;
  }

  /* Set up image gallery and dimensions on page in case of multiple images needed */
  div.gallery{

  width: 1400px;
  height:100%;
  }

  /* Non-hovered image sizing */
  img.gallerypics{
  width: 40%;
  height: 40%;
  }

  /* Hovered image sizing */
  img.gallerypics:hover{
    width: 55%;
    height: 55%;
  }

  p.picmode{
    text-align: center;
  }

  